<!DOCTYPE html>
<html th:replace="~{admin_layout::adminLayout(~{::title}, ~{}, ~{::script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hello World</title>
</head>
<body>
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <form class="form-inline" id="searchForm">
                        <label class="sr-only" for="keyword">keyword</label>
                        <div class="input-group input-group-sm mr-sm-2">
                            <input type="text" class="form-control form-control-sm" id="keyword" name="keyword"
                                   autocomplete="off" placeholder="请输入关键词查询">
                        </div>
                        <div class="btn-group-sm">
                            <button type="button" class="btn btn-primary btn-sm" id="searchBtn">
                                <i class="fas fa-search"></i> 查询
                            </button>
<!--                            <button type="button" class="btn btn-default btn-sm" id="resetBtn">-->
<!--                                <i class="fas fa-times"></i> 清空-->
<!--                            </button>-->
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="text-lg-right">
                        <button type="button" class="btn btn-success btn-sm" id="createBtn"><i class="fas fa-plus"></i>
                            新增
                        </button>
                    </div>
                </div>
            </div>
            <div id="dataGrid"></div>
        </div>
    </div>
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveTitle">Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="saveForm">
                        <div class="form-group row">
                            <label for="module"
                                   class="col-sm-2 col-form-label col-form-label-sm text-right">模块名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="module" name="module"
                                       autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tag"
                                   class="col-sm-2 col-form-label col-form-label-sm text-right">路径标签</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="tag" name="tag"
                                       autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="path" class="col-sm-2 col-form-label col-form-label-sm text-right">链接路径</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="path" name="path"
                                       autocomplete="off" required>
                            </div>
                        </div>
                        <!--                        <div class="form-group row">-->
                        <!--                            <label for="deletedFlag"-->
                        <!--                                   class="col-sm-2 col-form-label col-form-label-sm text-right">状态</label>-->
                        <!--                            <div class="col-sm-10">-->
                        <!--                                <div class="custom-control custom-switch custom-switch-sm">-->
                        <!--                                    <input type="checkbox" class="custom-control-input" id="deletedFlag"-->
                        <!--                                           name="deletedFlag" required>-->
                        <!--                                    <label class="custom-control-label" for="deletedFlag"></label>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <input type="hidden" id="saveId" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="saveBtn">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="deleteTitle">Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="deleteForm">
                        <h6>确定要删除吗？</h6>
                        <input type="hidden" id="deleteId" name="id" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="deleteBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    $(function () {
        let $searchBtn = $("#searchBtn");
        let $createBtn = $("#createBtn");
        let $saveBtn = $("#saveBtn");
        let $deleteBtn = $("#deleteBtn");
        let $searchForm = $("#searchForm");
        let $saveForm = $("#saveForm");
        let $deleteForm = $("#deleteForm");
        let $dataGrid = $("#dataGrid");

        let searchData = function (filter) {
            let defer = $.Deferred();
            filter.keyword = $("#keyword").val();
            $.ajax({
                type: "POST",
                url: _root + "system/permission/search",
                data: filter,
                dataType: "json"
            }).done(function (data) {
                if (data.success) {
                    defer.resolve(data.data);
                } else {
                    alert(data.message);
                }
            })
            return defer.promise();
        };
        let saveModal = function (action, title, row) {
            $saveForm.reset();
            $saveForm.removeClass("was-validated");
            if (row) {
                $("#saveId").val(row.id);
                $("#module").val(row.module);
                $("#tag").val(row.tag);
                $("#path").val(row.path);
                $("#icon").val(row.icon);
                $("#sort").val(row.sort);
                // $("#deletedFlag").prop("checked", row.deletedFlag);
            }

            $("#saveTitle").html(title);
            $("#saveModal").modal(action === "show" ? "show" : "hide");
        };
        let deleteModal = function (action, title, id) {
            $deleteForm.reset();
            $deleteForm.removeClass("was-validated");

            $("#deleteId").val(id);
            $("#deleteTitle").html(title);
            $("#deleteModal").modal(action === "show" ? "show" : "hide");
        };

        jsGrid.locale("zh-cn");
        $dataGrid.jsGrid({
            height: "auto",
            width: "100%",
            sorting: false,
            paging: true,
            autoload: true,
            pageLoading: true,
            pageSize: 10,
            pageIndex: 1,
            controller: {
                loadData: function (filter) {
                    return searchData(filter);
                }
            },
            fields: [
                {name: "id", type: "text", title: "ID", align: "center", width: 20},
                {name: "module", type: "text", title: "模块名称", align: "center", width: 60},
                {name: "tag", type: "text", title: "路径标签", align: "center", width: 50},
                {name: "path", type: "text", title: "路径", align: "center", width: 80},
                // {name: "deletedFlag", type: "boolean", title: "状态", align: "center", width: 50},
                {name: "createdTime", type: "text", title: "创建时间", align: "center", width: 100},
                {name: "updatedTime", type: "text", title: "修改时间", align: "center", width: 100},
                {
                    type: "control",
                    title: "操作",
                    width: 85,
                    itemTemplate: function (value, item) {
                        let buttons = $("<a class=\"btn btn-xs text-info control-modify\"><i class=\"fas fa-edit\"></i> 编辑</a>" +
                            "<a class=\"btn btn-xs text-danger control-remove\"><i class=\"fas fa-trash\"></i> 删除</a>")
                            .on("click", function (e) {
                                if ($(e.target).hasClass("control-modify")) {
                                    saveModal("show", $(this).html(), item);

                                    e.stopPropagation();
                                } else if ($(e.target).hasClass("control-remove")) {
                                    deleteModal("show", $(this).html(), item.id);

                                    e.stopPropagation();
                                }
                            });

                        return $("<div class=\"btn-group btn-group-sm\"></div>").append(buttons);
                    }
                }
            ]
        });

        $searchBtn.on("click", function () {
            let filter = $dataGrid.jsGrid("getFilter");
            filter.keyword = $("#keyword").val();
            $dataGrid.jsGrid("search", filter);
        });
        $createBtn.on("click", function () {
            saveModal("show", $(this).html());
        });
        $saveBtn.on("click", function () {
            let $form = $saveForm;
            if (!$form[0].checkValidity()) {
                $form.addClass('was-validated');
                return false;
            }
            $.ajax({
                type: "POST",
                url: _root + "system/permission/create",
                data: $form.serializeArray(),
            }).done(function (data) {
                saveModal("hide");
                $searchBtn.click();
            }).fail(function (err) {
                alert(err);
            });
        });
        $deleteBtn.on("click", function () {
            let $form = $deleteForm;
            if (!$form[0].checkValidity()) {
                $form.addClass('was-validated');
                return false;
            }
            $.ajax({
                type: "POST",
                url: _root + "system/permission/delete",
                data: $form.serializeArray(),
            }).done(function (data) {
                deleteModal("hide");
                $searchBtn.click();
            }).fail(function (err) {
                alert(err);
            });
        });

    });
</script>
</body>
</html>
