<!DOCTYPE html>
<html th:replace="~{admin_layout::adminLayout(~{::title}, ~{}, ~{::script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hello World</title>
</head>
<body>
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <form class="form-inline" id="searchForm">
                        <label class="sr-only" for="keyword">keyword</label>
                        <div class="input-group input-group-sm mr-sm-2">
                            <input type="text" class="form-control form-control-sm" id="keyword" name="keyword"
                                   autocomplete="off" placeholder="请输入角色名称查询">
                        </div>
                        <div class="btn-group-sm">
                            <button type="button" class="btn btn-primary btn-sm" id="searchBtn">
                                <i class="fas fa-search"></i> 查询
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="text-lg-right">
                        <button type="button" class="btn btn-success btn-sm" id="createBtn"><i class="fas fa-plus"></i>
                            新增
                        </button>
                    </div>
                </div>
            </div>
            <div id="dataGrid"></div>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveTitle">Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" id="createForm" novalidate>
                        <div class="form-group row">
                            <label for="roleName"
                                   class="col-sm-2 col-form-label col-form-label-sm text-right">角色名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="roleName" name="roleName"
                                       autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="roleCode"
                                   class="col-sm-2 col-form-label col-form-label-sm text-right">角色代码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="roleCode" name="roleCode"
                                       autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sort" class="col-sm-2 col-form-label col-form-label-sm text-right">排序</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="sort" name="sort"
                                       autocomplete="off" required>
                            </div>
                        </div>
                        <input type="hidden" id="saveId" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="confirmBtn">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="deleteTitle">Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="deleteForm">
                        <h6>确定要删除吗？</h6>
                        <input type="hidden" id="deleteId" name="id" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="deleteBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="assignMenuModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-info">分配菜单</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="assignMenuForm">
                        <input type="hidden" id="assignMenuId" name="id">
                    </form>
                    <div id="assignMenuTreeview"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="assignMenuBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="assignPermissionModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-info">分配权限</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="assignPermissionForm">
                        <input type="hidden" id="assignPermissionId" name="id">
                    </form>
                    <div id="assignPermissionTreeview"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="assignPermissionBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/plugins/bootstrap-treeview/js/bootstrap-treeview.js}"></script>
<script th:inline="javascript">
    $(function () {
        let $searchBtn = $("#searchBtn");
        let searchData = function (filter) {
            let defer = $.Deferred();
            filter.keyword = $("#keyword").val();
            $.doAjax("POST", _root + "system/role/search", filter).then(data => {
                defer.resolve(data.data);
            });
            return defer.promise();
        };
        $searchBtn.on("click", function () {
            let filter = $dataGrid.jsGrid("getFilter");
            filter.keyword = $("#keyword").val();
            $dataGrid.jsGrid("search", filter);
        });

        let $createBtn = $("#createBtn");
        let $confirmBtn = $("#confirmBtn");
        let $createForm = $("#createForm");
        let createModal = function (display, title, row) {
            $createForm.reset();
            $createForm.removeClass("was-validated");
            $createForm.attr("action", row ? "system/role/update" : "system/role/create");
            if (row) {
                $("#saveId").val(row.id);
                $("#roleName").val(row.roleName);
                $("#roleCode").val(row.roleCode);
                $("#sort").val(row.sort);
            }

            $("#saveTitle").html(title);
            $("#createModal").modal(display === "show" ? "show" : "hide");
        };
        $createBtn.on("click", function () {
            createModal("show", $(this).html());
        });
        $confirmBtn.on("click", function () {
            let $form = $createForm;
            if (!$form[0].checkValidity()) {
                $form.addClass('was-validated');
                return false;
            }
            $.doAjax("POST", _root + $createForm.attr("action"), $form.serializeObject()).then(data => {
                createModal("hide");
                if (data.success) {
                    $searchBtn.click();
                } else {
                    toastr.warning(data.message);
                }
            });
        });

        let $deleteBtn = $("#deleteBtn");
        let $deleteForm = $("#deleteForm");
        let deleteModal = function (display, title, id) {
            $deleteForm.reset();
            $deleteForm.removeClass("was-validated");

            $("#deleteId").val(id);
            $("#deleteTitle").html(title);
            $("#deleteModal").modal(display === "show" ? "show" : "hide");
        };
        $deleteBtn.on("click", function () {
            let $form = $deleteForm;
            if (!$form[0].checkValidity()) {
                $form.addClass('was-validated');
                return false;
            }
            $.doAjax("POST", _root + "system/role/delete", $form.serializeObject()).then(data => {
                deleteModal("hide");
                if (data.success) {
                    $searchBtn.click();
                } else {
                    toastr.warning(data.message);
                }
            });
        });

        let $assignMenuForm = $("#assignMenuForm");
        let $assignMenuBtn = $("#assignMenuBtn");
        let assignMenuModal = function (display, id) {
            $assignMenuForm.reset();
            $assignMenuForm.removeClass("was-validated");

            $("#assignMenuId").val(id);
            $("#assignMenuModal").modal(display === "show" ? "show" : "hide");
            if ("show" === display) {
                $.doAjax("GET", _root + "system/role/menu/treeview", $assignMenuForm.serializeObject()).then(data => {
                    if (data.success) {
                        $('#assignMenuTreeview').treeview({
                            data: data.data,
                            levels: 1,
                            highlightSelected: false,
                            multiSelect: true,
                            showCheckbox: true,
                            color: '#0000ff',
                            onNodeChecked: function (event, data) {
                                if (data !== null && data.nodes !== null) {
                                    for (let i = 0, len = data.nodes.length; i < len; i++) {
                                        let node = data.nodes[i];
                                        $('#assignMenuTreeview').treeview('checkNode', [node.nodeId, {silent: true}]);
                                    }
                                }
                            },
                            onNodeUnchecked: function (event, data) {
                                if (data !== null && data.nodes !== null) {
                                    for (let i = 0, len = data.nodes.length; i < len; i++) {
                                        let node = data.nodes[i];
                                        $('#assignMenuTreeview').treeview('uncheckNode', [node.nodeId, {silent: true}]);
                                    }
                                }
                            }
                        });
                    } else {
                        toastr.warning(data.message);
                    }
                });
            }
        };
        $assignMenuBtn.on("click", function () {
            let selectedNodes = $('#assignMenuTreeview').treeview('getChecked');
            let params = [];
            if (selectedNodes != null && selectedNodes.length > 0) {
                for (let i = 0, len = selectedNodes.length; i < len; i++) {
                    if (selectedNodes[i].id === undefined) {
                        continue;
                    }
                    params.push(selectedNodes[i].id);
                }
            }
            // "id=" + $("#assignMenuId").val() + "&menuIds=" + params.join(",")
            $.doAjax("POST", _root + "system/role/assign/menu", {
                "id": $("#assignMenuId").val(),
                "menuIds": params.join(",")
            }).then(data => {
                if (data.success) {
                    assignMenuModal("hide");
                    toastr.success(data.message);
                } else {
                    toastr.warning(data.message);
                }
            });
        });

        let $assignPermissionForm = $("#assignPermissionForm");
        let $assignPermissionBtn = $("#assignPermissionBtn");
        let assignPermissionModal = function (display, id) {
            $assignPermissionForm.reset();
            $assignPermissionForm.removeClass("was-validated");

            $("#assignPermissionId").val(id);
            $("#assignPermissionModal").modal(display === "show" ? "show" : "hide");

            if ("show" === display) {
                $.doAjax("GET", _root + "system/role/permission/treeview", $assignPermissionForm.serializeObject()).then(data => {
                    if (data.success) {
                        $('#assignPermissionTreeview').treeview({
                            data: data.data,
                            levels: 1,
                            highlightSelected: false,
                            multiSelect: true,
                            showCheckbox: true,
                            color: '#0000ff',
                            onNodeChecked: function (event, data) {
                                if (data !== null && data.nodes !== null) {
                                    for (let i = 0, len = data.nodes.length; i < len; i++) {
                                        let node = data.nodes[i];
                                        $('#assignPermissionTreeview').treeview('checkNode', [node.nodeId, {silent: true}]);
                                    }
                                }
                            },
                            onNodeUnchecked: function (event, data) {
                                if (data !== null && data.nodes !== null) {
                                    for (let i = 0, len = data.nodes.length; i < len; i++) {
                                        let node = data.nodes[i];
                                        $('#assignPermissionTreeview').treeview('uncheckNode', [node.nodeId, {silent: true}]);
                                    }
                                }
                            }
                        });
                    } else {
                        toastr.warning(data.message);
                    }
                });
            }
        };
        $assignPermissionBtn.on("click", function () {
            let selectedNodes = $('#assignPermissionTreeview').treeview('getChecked');
            let params = [];
            if (selectedNodes != null && selectedNodes.length > 0) {
                for (let i = 0, len = selectedNodes.length; i < len; i++) {
                    if (selectedNodes[i].id === undefined || selectedNodes[i].id === 0) {
                        continue;
                    }
                    params.push(selectedNodes[i].id);
                }
            }
            // "id=" + $("#assignMenuId").val() + "&permissionIds=" + params.join(",")
            $.doAjax("POST", _root + "system/role/assign/permission", {
                "id": $("#assignPermissionId").val(),
                "permissionIds": params.join(",")
            }).then(data => {
                if (data.success) {
                    assignPermissionModal("hide");
                    toastr.success(data.message);
                } else {
                    toastr.warning(data.message);
                }
            });
        });

        jsGrid.locale("zh-cn");
        let $dataGrid = $("#dataGrid");
        $dataGrid.jsGrid({
            height: "auto",
            width: "100%",
            sorting: false,
            paging: true,
            autoload: true,
            pageLoading: true,
            pageSize: 10,
            pageIndex: 1,
            controller: {
                loadData: function (filter) {
                    return searchData(filter);
                }
            },
            fields: [
                {name: "id", type: "text", title: "ID", align: "center", width: 20, visible: false},
                {name: "roleName", type: "text", title: "角色名称", align: "center", width: 50},
                {name: "roleCode", type: "text", title: "角色代码", align: "center", width: 50},
                {name: "sort", type: "text", title: "排序", align: "center", width: 50},
                {name: "createdTime", type: "text", title: "创建时间", align: "center", width: 100},
                {name: "updatedTime", type: "text", title: "修改时间", align: "center", width: 100},
                {
                    type: "control",
                    title: "操作",
                    width: 160,
                    itemTemplate: function (value, item) {
                        let buttons = $("<a class=\"btn btn-xs text-info control-menu\"><i class=\"fas fa-edit\"></i> 菜单列表</a>" +
                            "<a class=\"btn btn-xs text-info control-permission\"><i class=\"fas fa-edit\"></i> 权限列表</a>" +
                            "<a class=\"btn btn-xs text-info control-update\"><i class=\"fas fa-edit\"></i> 编辑</a>" +
                            "<a class=\"btn btn-xs text-danger control-remove\"><i class=\"fas fa-trash\"></i> 删除</a>")
                            .on("click", function (e) {
                                if ($(e.target).hasClass("control-update")) {
                                    createModal("show", $(this).html(), item);
                                    e.stopPropagation();
                                } else if ($(e.target).hasClass("control-remove")) {
                                    deleteModal("show", $(this).html(), item.id);
                                    e.stopPropagation();
                                } else if ($(e.target).hasClass("control-menu")) {
                                    assignMenuModal("show", item.id);
                                    e.stopPropagation();
                                } else if ($(e.target).hasClass("control-permission")) {
                                    assignPermissionModal("show", item.id);
                                    e.stopPropagation();
                                }
                            });

                        return $("<div class=\"btn-group btn-group-sm\"></div>").append(buttons);
                    }
                }
            ]
        });

    });
</script>
</body>
</html>
