<!DOCTYPE html>
<html th:replace="~{layout/admin_layout::adminLayout(~{::title}, ~{}, ~{::script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hello World</title>
</head>
<body>
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-lg-9">
                    <form class="form-inline">
                        <label class="sr-only" for="keywords">keywords</label>
                        <div class="input-group input-group-sm mr-sm-2">
                            <input type="text" class="form-control form-control-sm" id="keywords" autocomplete="off"
                                   placeholder="keywords">
                        </div>

                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fas fa-search"></i> 查询
                        </button>
                    </form>
                </div>
                <div class="col-lg-3">
                    <div class="text-lg-right">
                        <button type="button" class="btn btn-success btn-sm" id="addBtn">
                            <i class="fas fa-plus"></i> 新增
                        </button>
                    </div>
                </div>
            </div>
            <div id="datagrid"></div>
        </div>
    </div>
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="basicTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-group row">
                            <label for="menuName" class="col-sm-2 col-form-label col-form-label-sm text-right">菜单名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="menuName" name="menuName" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="menuCode" class="col-sm-2 col-form-label col-form-label-sm text-right">菜单代码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="menuCode" name="menuCode" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="path" class="col-sm-2 col-form-label col-form-label-sm text-right">链接路径</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="path" name="path" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="icon" class="col-sm-2 col-form-label col-form-label-sm text-right">菜单图标</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="icon" name="icon" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="deleteFlag" class="col-sm-2 col-form-label col-form-label-sm text-right">状态</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="deleteFlag" name="deleteFlag" autocomplete="off" required>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    $(function () {
        let $datagrid = $("#datagrid");
        jsGrid.locale("zh-cn");
        $datagrid.jsGrid({
            height: "auto",
            width: "100%",
            // editing: true,
            // inserting:true,
            // filtering: false,
            // sorting: false,
            paging: true,
            autoload: true,
            pageLoading: true,
            pageSize: 15,
            pageIndex: 1,
            controller: {
                loadData: function (filter) {
                    let d = $.Deferred();
                    $.ajax({
                        type: "GET",
                        url: _root + "menu/list",
                        data: filter,
                        dataType: "json"
                    }).done(function (response) {
                        d.resolve(response);
                    });
                    return d.promise();
                }
            },
            fields: [
                {name: "id", type: "text", title: "ID", align: "center", width: 20},
                // {name: "submenus", type: "text", title: "", align: "center", width: 50},
                {name: "menuName", type: "text", title: "菜单名称", align: "center", width: 60},
                {name: "menuCode", type: "text", title: "菜单编码", align: "center", width: 60},
                {name: "path", type: "text", title: "路径", align: "center", width: 50},
                {name: "icon", type: "text", title: "图标", align: "center", width: 60},
                {name: "sort", type: "number", title: "排序", align: "center", width: 30},
                {name: "deletedFlag", type: "text", title: "状态", align: "center", width: 50},
                {name: "createdTime", type: "text", title: "创建时间", align: "center", width: 100},
                {name: "updatedTime", type: "text", title: "修改时间", align: "center", width: 100},
                {
                    type: "control",
                    title: "操作",
                    width: 85,
                    itemTemplate: function (value, item) {
                        let operation = $("<a class=\"btn btn-xs btn-tool text-info control-modify\"><i class=\"fas fa-edit\"></i> 编辑</a><a class=\"btn btn-xs btn-tool text-danger control-remove\"><i class=\"fas fa-trash\"></i> 删除</a>")
                            .on('click', function (e) {
                                if ($(e.target).hasClass("control-modify")) {
                                    toggleBasicModal("show", $(this).html());
                                    console.log(item); //You can access all data based on item clicked
                                    e.stopPropagation();
                                } else if ($(e.target).hasClass("control-remove")) {
                                    //Based on button click you can make your customization
                                    console.log('Delete');
                                    e.stopPropagation();
                                }
                            });

                        return $("<div class=\"card-tools\"></div>").append(operation); //
                    }
                }
            ],
            onPageChanged: function (args) {
                console.log(args);
            }
        });
        let $addBtn = $('#addBtn');
        let toggleBasicModal = function (action, title, row) {
            $('#basicTitle').html(title);
            $('#basicModal').modal(action);
            //
        };
        $addBtn.on("click", function () {
            toggleBasicModal("show", $(this).html());
        });


// Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    });
</script>
</body>
</html>