<!DOCTYPE html>
<html th:replace="~{layout/admin_layout::adminLayout(~{::title}, ~{}, ~{::script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hello World</title>
</head>
<body>
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <form class="form-inline">
                        <label class="sr-only" for="keywords">keywords</label>
                        <div class="input-group input-group-sm mr-sm-2">
                            <input type="text" class="form-control form-control-sm" id="keywords" autocomplete="off" placeholder="请输入关键词查询">
                        </div>
                        <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> 查询</button>
                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="text-lg-right">
                        <button type="button" class="btn btn-success btn-sm" id="createBtn"><i class="fas fa-plus"></i> 新增</button>
                    </div>
                </div>
            </div>
            <div id="datagrid"></div>
        </div>
    </div>
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveTitle">Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="saveForm">
                        <div class="form-group row">
                            <label for="menuName" class="col-sm-2 col-form-label col-form-label-sm text-right">菜单名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="menuName" name="menuName" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="menuCode" class="col-sm-2 col-form-label col-form-label-sm text-right">菜单代码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="menuCode" name="menuCode" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="path" class="col-sm-2 col-form-label col-form-label-sm text-right">链接路径</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="path" name="path" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="icon" class="col-sm-2 col-form-label col-form-label-sm text-right">菜单图标</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="icon" name="icon" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sort" class="col-sm-2 col-form-label col-form-label-sm text-right">排序</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="sort" name="sort" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="deletedFlag" class="col-sm-2 col-form-label col-form-label-sm text-right">状态</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="deletedFlag" name="deletedFlag" autocomplete="off" required>
                            </div>
                        </div>
                        <input type="hidden" id="saveId" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="saveBtn">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="deleteTitle">Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="deleteForm">
                        <h6>确定要删除吗？</h6>
                        <input type="hidden" id="deleteId" name="id" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="deleteBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    $(function () {
        let $datagrid = $("#datagrid");
        jsGrid.locale("zh-cn");
        $datagrid.jsGrid({
            height: "auto",
            width: "100%",
            sorting: false,
            paging: true,
            autoload: true,
            pageLoading: true,
            pageSize: 15,
            pageIndex: 1,
            controller: {
                loadData: function (filter) {
                    let defer = $.Deferred();
                    $.ajax({
                        type: "GET",
                        url: _root + "menu/list",
                        data: filter,
                        dataType: "json"
                    }).done(function (response) {
                        defer.resolve(response);
                    });

                    return defer.promise();
                }
            },
            fields: [
                {name: "id", type: "text", title: "ID", align: "center", width: 20},
                // {name: "submenus", type: "text", title: "", align: "center", width: 50},
                {name: "menuName", type: "text", title: "菜单名称", align: "center", width: 60},
                {name: "menuCode", type: "text", title: "菜单编码", align: "center", width: 60},
                {name: "path", type: "text", title: "路径", align: "center", width: 50},
                {name: "icon", type: "text", title: "图标", align: "center", width: 60},
                {name: "sort", type: "number", title: "排序", align: "center", width: 30},
                {name: "deletedFlag", type: "boolean", title: "状态", align: "center", width: 50},
                {name: "createdTime", type: "text", title: "创建时间", align: "center", width: 100},
                {name: "updatedTime", type: "text", title: "修改时间", align: "center", width: 100},
                {
                    type: "control",
                    title: "操作",
                    width: 85,
                    itemTemplate: function (value, item) {
                        let buttons = $("<a class=\"btn btn-xs text-info control-modify\"><i class=\"fas fa-edit\"></i> 编辑</a>" +
                            "<a class=\"btn btn-xs text-danger control-remove\"><i class=\"fas fa-trash\"></i> 删除</a>")
                            .on("click", function (e) {
                                if ($(e.target).hasClass("control-modify")) {
                                    saveModal("show", $(this).html(), item);

                                    e.stopPropagation();
                                } else if ($(e.target).hasClass("control-remove")) {
                                    deleteModal("show", $(this).html(), item.id);

                                    e.stopPropagation();
                                }
                            });

                        return $("<div class=\"btn-group btn-group-sm\"></div>").append(buttons);
                    }
                }
            ]
        });

        let $createBtn = $("#createBtn");
        let $saveBtn = $("#saveBtn");
        let $deleteBtn = $("#deleteBtn");
        let $saveForm = $("#saveForm");
        let $deleteForm = $("#deleteForm");

        let saveModal = function (action, title, row) {
            $saveForm.reset();
            $saveForm.removeClass("was-validated");
            if (row) {
                $("#saveId").val(row.id);
                $("#menuName").val(row.menuName);
                $("#menuCode").val(row.menuCode);
                $("#path").val(row.path);
                $("#icon").val(row.icon);
                $("#sort").val(row.sort);
                $("#deletedFlag").val(row.deletedFlag);
            }

            $("#saveTitle").html(title);
            $("#saveModal").modal(action === "show" ? "show" : "hide");
        };
        let deleteModal = function (action, title, id) {
            $deleteForm.reset();
            $deleteForm.removeClass("was-validated");

            $("#deleteId").val(id);
            $("#deleteTitle").html(title);
            $("#deleteModal").modal(action === "show" ? "show" : "hide");
        };
        $createBtn.on("click", function () {
            saveModal("show", $(this).html());
        });
        $saveBtn.on("click", function () {
            let $form = $saveForm;
            if (!$form[0].checkValidity()) {
                $form.addClass('was-validated');
                return false;
            }
            $.ajax({
                type: "POST",
                url: _root + "menu/save",
                data: $form.serializeArray(),
            }).done(function (data) {
                console.log(data);
                saveModal("hide");
            }).fail(function (err) {

            });
        });
        $deleteBtn.on("click", function () {
            let $form = $deleteForm;
            if (!$form[0].checkValidity()) {
                $form.addClass('was-validated');
                return false;
            }
            $.ajax({
                type: "POST",
                url: _root + "menu/delete",
                data: $form.serializeArray(),
            }).done(function (data) {
                console.log(data);
                deleteModal("hide");
            }).fail(function (err) {

            });
        });
    });
</script>
</body>
</html>